header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: rgb(190, 230, 253);
  background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
}

.avatar {
  margin: 10% 0 0 0;
}

/* desktop screen size: specs for header when changes side by side with tweets */
@media only screen and (min-width: 1024px) {
  header {
    padding: 30px;
    width: 30vw;
  }
}
